@font-face {
  src: url("TiltWarp.woff2") format("woff2-variations");
  font-family: "Tilt Warp";
  font-style: normal;
}

:root {
  --background-color: #fff;
  --text-color: #121416d8;
  --link-color: #0000ee;
  --link-visited: #551a8b;
  --link-active: #ff0000;

  font-family: "Tilt Warp", "Adobe NotDef";
  font-variation-settings: "HROT" 0, "VROT" 0;
  line-height: 1.5;
  font-size: 1rem;
}

:root.theme-dark {
  --background-color: #000;
  --text-color: #fff;
  --link-color: #9a9ae0;
  --link-visited: #8a4fc0;
  --link-active: #ff0000;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: clamp(1rem, 1vw + 1rem, 1rem);
  background: var(--background-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);

  &:active {
    color: var(--link-active);
  }

  &:visited {
    color: var(--link-visited);
  }
}

h1,
.u-heading-1,
h2,
.u-heading-2,
h3,
.u-heading-3,
h4,
.u-heading-4,
h5,
.u-heading-5,
h6,
.u-heading-6 {
  margin-top: 0;
  font-variation-settings: "HROT" 25, "VROT" -18;
}

h1,
.u-heading-1 {
  font-size: clamp(2rem, 3vw + 1rem, 2.625rem);
}

h2,
.u-heading-2 {
  font-size: clamp(1.75rem, 2vw + 1rem, 2.25rem);
}

h3,
.u-heading-3 {
  font-size: clamp(1.375rem, 2vw + 1rem, 1.875rem);
}

h4,
.u-heading-4 {
  font-size: clamp(1rem, 1vw + 1rem, 1.5rem);
}

h5,
.u-heading-5 {
  font-size: clamp(0.875rem, 0.5vw + 1rem, 1.25rem);
}

p {
  margin-top: 0;
}

time {
  font-size: clamp(0.75rem, 0.5vw + 1rem, 1.05rem);
  text-decoration: none;
}

[role="banner"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

[role="document"] {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

[role="main"] {
  flex: 1;
  padding-top: 1rem;
}

[role="contentinfo"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.box-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.box-list {
  li {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border: 0.125rem solid var(--text-color);
  }
}

.box-link {
  text-decoration: none;
}

.box-link .link {
  &:hover {
    text-decoration: underline;
  }
}

.logo {
  margin: 0;
  font-variation-settings: "HROT" 25, "VROT" -18;
}

.container {
  max-width: 45rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  width: 100%;
}

.theme-toggle {
  position: relative;
  width: 4rem;
  padding: 0.5rem;
  border-radius: 9999px;
  border: 0.125rem solid var(--text-color);
  cursor: pointer;

  .switch {
    width: 40px;
    height: 40px;
  }
}

// utilities
.u-m-0 {
  margin: 0;
}

.u-last-child-m-0 {
  *:last-child {
    margin: 0;
  }
}
